.elementor-38
  .elementor-element.elementor-element-cf112ac
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-38 .elementor-element.elementor-element-cf112ac {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0%;
  margin-bottom: -7%;
  z-index: 999;
}
.elementor-38
  .elementor-element.elementor-element-cf112ac
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-38
  .elementor-element.elementor-element-849e321
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-38 .elementor-element.elementor-element-0effb78 {
  text-align: left;
}
.elementor-38
  .elementor-element.elementor-element-36506e8
  .elementor-menu-toggle {
  margin: 0 auto;
  background-color: var(--e-global-color-d49ac81);
}
.elementor-38
  .elementor-element.elementor-element-36506e8
  .elementor-nav-menu
  .elementor-item {
  font-family: var(--e-global-typography-520c191-font-family), Sans-serif;
  font-size: var(--e-global-typography-520c191-font-size);
  font-weight: var(--e-global-typography-520c191-font-weight);
  line-height: var(--e-global-typography-520c191-line-height);
  letter-spacing: var(--e-global-typography-520c191-letter-spacing);
  word-spacing: var(--e-global-typography-520c191-word-spacing);
}
.elementor-38
  .elementor-element.elementor-element-36506e8
  .elementor-nav-menu--main
  .elementor-item {
  color: var(--e-global-color-text);
  fill: var(--e-global-color-text);
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.elementor-38
  .elementor-element.elementor-element-36506e8
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-38
  .elementor-element.elementor-element-36506e8
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-38
  .elementor-element.elementor-element-36506e8
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-38
  .elementor-element.elementor-element-36506e8
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: var(--e-global-color-d49ac81);
  fill: var(--e-global-color-d49ac81);
}
.elementor-38 .elementor-element.elementor-element-36506e8 {
  --e-nav-menu-horizontal-menu-item-margin: calc(35px / 2);
}
.elementor-38
  .elementor-element.elementor-element-36506e8
  .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal)
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-bottom: 35px;
}
.elementor-38
  .elementor-element.elementor-element-36506e8
  .elementor-nav-menu--dropdown
  a,
.elementor-38
  .elementor-element.elementor-element-36506e8
  .elementor-menu-toggle {
  color: var(--e-global-color-primary);
}
.elementor-38
  .elementor-element.elementor-element-36506e8
  .elementor-nav-menu--dropdown {
  background-color: var(--e-global-color-text);
  border-radius: 10px 10px 10px 10px;
}
.elementor-38
  .elementor-element.elementor-element-36506e8
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-38
  .elementor-element.elementor-element-36506e8
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-38
  .elementor-element.elementor-element-36506e8
  .elementor-nav-menu--dropdown
  a.highlighted,
.elementor-38
  .elementor-element.elementor-element-36506e8
  .elementor-menu-toggle:hover {
  color: var(--e-global-color-text);
}
.elementor-38
  .elementor-element.elementor-element-36506e8
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-38
  .elementor-element.elementor-element-36506e8
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-38
  .elementor-element.elementor-element-36506e8
  .elementor-nav-menu--dropdown
  a.highlighted {
  background-color: var(--e-global-color-d49ac81);
}
.elementor-38
  .elementor-element.elementor-element-36506e8
  .elementor-nav-menu--dropdown
  .elementor-item,
.elementor-38
  .elementor-element.elementor-element-36506e8
  .elementor-nav-menu--dropdown
  .elementor-sub-item {
  font-family: var(--e-global-typography-520c191-font-family), Sans-serif;
  font-size: var(--e-global-typography-520c191-font-size);
  font-weight: var(--e-global-typography-520c191-font-weight);
  letter-spacing: var(--e-global-typography-520c191-letter-spacing);
  word-spacing: var(--e-global-typography-520c191-word-spacing);
}
.elementor-38
  .elementor-element.elementor-element-36506e8
  .elementor-nav-menu--dropdown
  li:first-child
  a {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.elementor-38
  .elementor-element.elementor-element-36506e8
  .elementor-nav-menu--dropdown
  li:last-child
  a {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.elementor-38
  .elementor-element.elementor-element-36506e8
  div.elementor-menu-toggle {
  color: var(--e-global-color-text);
}
.elementor-38
  .elementor-element.elementor-element-36506e8
  div.elementor-menu-toggle
  svg {
  fill: var(--e-global-color-text);
}
.elementor-38
  .elementor-element.elementor-element-36506e8
  div.elementor-menu-toggle:hover {
  color: var(--e-global-color-332724a);
}
.elementor-38
  .elementor-element.elementor-element-36506e8
  div.elementor-menu-toggle:hover
  svg {
  fill: var(--e-global-color-332724a);
}
.elementor-38
  .elementor-element.elementor-element-36506e8
  .elementor-menu-toggle:hover {
  background-color: var(--e-global-color-text);
}
.elementor-38 .elementor-element.elementor-element-510b2c1 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 16px;
  --grid-column-gap: 5px;
  --grid-row-gap: 0px;
}
.elementor-38
  .elementor-element.elementor-element-510b2c1
  .elementor-widget-container {
  text-align: right;
}
.elementor-38
  .elementor-element.elementor-element-510b2c1
  .elementor-social-icon {
  background-color: var(--e-global-color-d49ac81);
}
.elementor-38
  .elementor-element.elementor-element-510b2c1
  .elementor-social-icon
  i {
  color: var(--e-global-color-text);
}
.elementor-38
  .elementor-element.elementor-element-510b2c1
  .elementor-social-icon
  svg {
  fill: var(--e-global-color-text);
}
.elementor-38
  .elementor-element.elementor-element-510b2c1
  .elementor-social-icon:hover {
  background-color: var(--e-global-color-text);
}
.elementor-38
  .elementor-element.elementor-element-510b2c1
  .elementor-social-icon:hover
  i {
  color: var(--e-global-color-332724a);
}
.elementor-38
  .elementor-element.elementor-element-510b2c1
  .elementor-social-icon:hover
  svg {
  fill: var(--e-global-color-332724a);
}
@media (min-width: 768px) {
  .elementor-38 .elementor-element.elementor-element-5410d19 {
    width: 85%;
  }
  .elementor-38 .elementor-element.elementor-element-36053bd {
    width: 15%;
  }
  .elementor-38 .elementor-element.elementor-element-5c769ca {
    width: 85%;
  }
  .elementor-38 .elementor-element.elementor-element-e4a028c {
    width: 15%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-38 .elementor-element.elementor-element-5410d19 {
    width: 80%;
  }
  .elementor-38 .elementor-element.elementor-element-36053bd {
    width: 82%;
  }
  .elementor-38 .elementor-element.elementor-element-5c769ca {
    width: 12%;
  }
  .elementor-38 .elementor-element.elementor-element-e4a028c {
    width: 20%;
  }
}
@media (max-width: 1024px) {
  .elementor-38 .elementor-element.elementor-element-cf112ac {
    margin-top: 0em;
    margin-bottom: -7em;
  }
  .elementor-38
    .elementor-element.elementor-element-36506e8
    .elementor-nav-menu
    .elementor-item {
    font-size: var(--e-global-typography-520c191-font-size);
    line-height: var(--e-global-typography-520c191-line-height);
    letter-spacing: var(--e-global-typography-520c191-letter-spacing);
    word-spacing: var(--e-global-typography-520c191-word-spacing);
  }
  .elementor-38
    .elementor-element.elementor-element-36506e8
    .elementor-nav-menu--dropdown
    .elementor-item,
  .elementor-38
    .elementor-element.elementor-element-36506e8
    .elementor-nav-menu--dropdown
    .elementor-sub-item {
    font-size: var(--e-global-typography-520c191-font-size);
    letter-spacing: var(--e-global-typography-520c191-letter-spacing);
    word-spacing: var(--e-global-typography-520c191-word-spacing);
  }
  .elementor-38 .elementor-element.elementor-element-36506e8 {
    --nav-menu-icon-size: 28px;
  }
}
@media (max-width: 767px) {
  .elementor-38
    .elementor-element.elementor-element-5410d19
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-38 .elementor-element.elementor-element-36053bd {
    width: 80%;
  }
  .elementor-38 .elementor-element.elementor-element-0effb78 {
    text-align: right;
  }
  .elementor-38 .elementor-element.elementor-element-0effb78 img {
    width: 85%;
  }
  .elementor-38 .elementor-element.elementor-element-5c769ca {
    width: 20%;
  }
  .elementor-38
    .elementor-element.elementor-element-36506e8
    .elementor-nav-menu
    .elementor-item {
    font-size: var(--e-global-typography-520c191-font-size);
    line-height: var(--e-global-typography-520c191-line-height);
    letter-spacing: var(--e-global-typography-520c191-letter-spacing);
    word-spacing: var(--e-global-typography-520c191-word-spacing);
  }
  .elementor-38
    .elementor-element.elementor-element-36506e8
    .elementor-nav-menu--dropdown
    .elementor-item,
  .elementor-38
    .elementor-element.elementor-element-36506e8
    .elementor-nav-menu--dropdown
    .elementor-sub-item {
    font-size: var(--e-global-typography-520c191-font-size);
    letter-spacing: var(--e-global-typography-520c191-letter-spacing);
    word-spacing: var(--e-global-typography-520c191-word-spacing);
  }
}
